<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
            <f:metadata>
                <f:event type="preRenderView"
                         listener="#{cookieManager.readCookies()}" />
            </f:metadata>
    
    <h:body>
        <h:form>
            <h:outputText value="#{cookieCart.cookieFlavours}" />
                         <br/>
        <h:commandButton value="Add another cookie" action="index.xhtml?faces-redirect=true" />
        <br/>
        <h:commandButton value="Clear all cookies" action="#{cookieManager.clearCookies()}" />
        </h:form>
    </h:body>
</html>

